{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>PDM News Aggregator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
</head>
<body>

    <div>{% include 'sidebar.html' %}</div>
    <div class="container" id="articles-container">
        {% for value in data %}
        <div class="card mb-3 box" style="max-width: 640px; margin:auto;">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{value.url}}" target="_blank">{{value.title}}</a></h5>
                        <p class="card-text">{{value.description}}</p>
                        <p class="card-text"><small class="text-muted">{{value.publishedAt}}</small></p>
                    </div>
                </div>

                <div class="col-md-4 img-box">
                    <img src="{{value.image}}" class="card-img" alt="..." height="100%">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <h1 id="loading">Loading....</h1>

</body>
<script>
    var page = 2;
    var window_scroll = true;
    var search = "{{ search }}";

    window.addEventListener('scroll', function(e) {
        // scroll check
        console.log("scroll check...")
        if(window_scroll){
            if((window.innerHeight + window.scrollY) >= (document.body.scrollHeight-200)){
                window_scroll = false;
                document.getElementById("loading").style.display = "block";
                $.ajax({
                    url: '/next?page=' + page + '&search=' + search,
                    dataType: 'json',
                    success: function (data) {
                        if (data["success"]) {
                            articles = data["data"]
                            articles_html = ''
                            for (i = 0; i < articles.length; i++) {
                                articles_html += ' \
                                <div class="card mb-3 box" style="max-width: 640px; margin:auto;">\
                                    <div class="row">\
                                        <div class="col-md-8">\
                                            <div class="card-body">\
                                                <h5 class="card-title"><a href="'+ articles[i]["url"] +'" target="_blanck">'+ articles[i]["title"] +'</a></h5>\
                                                <p class="card-text">'+ articles[i]["description"] +'</p>\
                                                <p class="card-text"><small class="text-muted">'+ articles[i]["publishedAt"] +'</small></p>\
                                            </div>\
                                        </div>\
                                                \
                                        <div class="col-md-4 img-box">\
                                            <img src="'+ articles[i]["image"] +'" class="card-img" alt="..." height="100%">\
                                        </div>\
                                    </div>\
                                </div>\
                                '
                            }
                            $("#articles-container").append(articles_html);
                            page += 1
                            window_scroll = true;
                            document.getElementById("loading").style.display = "none";
                        }
                        else {
                            console.log("Failed")
                            window_scroll = true;
                            document.getElementById("loading").style.display = "none";
                        }
                    }
                });
            }
        }
    })


</script>
</html>
