<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">x</a>
  <a href="{% url 'Home' %}?search=top">Top News</a>

  <a href="{% url 'Home' %}?search=Entertainment">Entertainment</a>
  <a href="{% url 'Home' %}?search=Lifestyle">Lifestyle</a>
  <a href="{% url 'Home' %}?search=Politics">Politics</a>
  <a href="{% url 'Home' %}?search=Sports">Sports</a>
  <a href="{% url 'Home' %}?search=Business">Business</a>
  <a href="{% url 'Home' %}?search=Technology">Technology</a>
</div>

<span style="font-size:30px;cursor:pointer" onclick="openNav()">&nbsp;&nbsp;☰</span>

<form class="d-flex" method="POST" action="{% url 'Search' %}">
  {% csrf_token %}
  <input class="form-control me-sm-2" type="text" name="keyword" placeholder="Search">
  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Go</button>
</form>

<form class="account" method="POST">
  {% block content %}
  {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
  {% else %}
    <a href="{% url 'SignUp' %}">Sign Up</a>
    <a href="{% url 'login' %}">&nbsp;&nbsp;Log In</a>
  {% endif %}
  {% endblock %}
</form>
